html{
    font-size:20px;
    margin:0;
    background: #0c0207;
    }
h1  {
            color: white;
            margin: 90px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 50px;
            text-align: center;
            letter-spacing: 20px;
            opacity: 1;
            position:relative;
            background-image: linear-gradient(45deg, #000, #fff, #000, #FFDEE9, #000);
            background-size: 90%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-fill-color: transparent;
}

.container {
  font-size: 5rem;
  color: white;
  position: relative;
}

.container span  {
  mix-blend-mode: difference;
  text-align: center;
}

.container::after{
  content: '';
  position: absolute;
  height: calc(100% - 40px);
  left: 0px;
  top: 20px;
  width: 30%;
  background-color: green;
  z-index: -6;
  color: red;
  overflow:hidden;
  animation: animate 5s infinite linear;
}
@keyframes animate {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(250px);
  }
}

#first{
    width: 1325px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 16px;
    margin-top: 2em;
    }

#seconf{
    border-radius: 16px;
    width: 1325px;
    height: 500px;
    background: linear-gradient(to bottom,  #0B4C5F 0%,#04B4AE 52%,#0c0207 100%);
    position: absolute;
    z-index: -30;
    top: 0;
    margin-top: 2em;
    }

#free{
    background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526533/eva/edificiosOne_fsg7nx.svg');
    height: 500px;
    width: 1325px;
    z-index: -10;
    top: 6.5em;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    -webkit-animation: animar_edificios 120s linear infinite;
    -ms-animation: animar_edificios 120s linear infinite;
    -moz-animation: animar_edificios 120s linear infinite;
    position: absolute;
    }

   @keyframes  animar_edificios {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    @-webkit-keyframes  animar_edificios {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    @-ms-keyframes  animar_edificios {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }
    @-moz-keyframes  animar_edificios {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
    }

#third {
    width: 6em;
    height: 6em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 30px 10px 0 #F7F8E0;
    -webkit-box-shadow: 30px 10px 0 #F7F8E0;
    box-shadow: 30px 10px 0 #F7F8E0;
    margin-top: 1em;
    margin-left: 50%;
    position: absolute;
    z-index: -19;
    }

#here{
    height: 23em;
    width: 100%;
    background: -moz-linear-gradient(top,  #416663 0%, #0c0207 19%);
    background: -webkit-linear-gradient(top,  #416663 0%,#0c0207 19%);
    background: linear-gradient(to bottom,  #416663 0%,#0c0207 19%);
    bottom:0px;
    }

#fourth{
    background: url('https://res.cloudinary.com/pastelitos/image/upload/v1610526571/eva/gatito_pushui.svg');
    height: 297px;
    width: 507.5px;
    margin-top: 2em;
    margin-left: 2em;
    z-index: 10;
    -webkit-animation: sprite-animation 1.2s steps(16,end) infinite;
    -moz-animation: sprite-animation 1.2s steps(16,end) infinite;
    -ms-animation: sprite-animation 1.2s steps(16,end) infinite;
    animation: sprite-animation 1.2s steps(16,end) infinite;
    }

@-webkit-keyframes sprite-animation {
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }

@-ms-keyframes sprite-animation {
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }

@-moz-keyframes sprite-animation {
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }

@keyframes sprite-animation {
        from { background-position: 0 0; }
        to { background-position: -8120px 0; }
    }
#hours, #skills {
  margin-top: 30px;
  font-size: 1.2em;
  color: white;
  font-weight: bold;
}
.panel-footer {
  margin-top: 30px;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
}
.panel-footer section {
  margin-bottom:  30px;
  text-align: center;
}
.panel-footer section:nth-child(3) {
  margin-bottom: 0; /* margin already exists on the whole row */
}
.panel-footer section hr {
  width: 100%;
}
#hours > span, #skills>span {
  font-size: 1.3em;
  text-decoration: underline #9C880CFF;
}
#final {
  text-align: center;
  color: white;
}

